<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Форма регистрации</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/script1.js')}}"></script>
  </head>
  <body>
    <div class="name">

    </div>

    <div class="main">
      <form method="post" class="main" enctype="multipart/form-data">
        <div class="form_add_file">
          <div class="one">
        <div class="hi">
          <h1 class="titleaddf">Добавьте файл</h1>
        </div>

        <label for="images" class="drop-container" id="dropcontainer">

        <span class="drop-title">Перетащите файл сюда </span>
        или
       <input type="file" name="add_f" id="images" accept="image/*, video/*"  required>

        </label>

            <div class="b_in_add">
              <input name="tegs_a" id="in_tegs" type="text" placeholder="Теги">
              <input id="submit_add_file" type="submit" value="Загрузить" />

            </div>

        </div>
          <div class="imgprev">
            <img id="image" height="50%" style="max-width: 15vw"/>
            <video id="video" height="50%" style="max-width: 15vw; position: relative; top: -50%"   ></video>
          </div>
        </div>
      </form>
    </div>
  <script>
  var flag =0;
  var f = document.getElementById('images');
    f.addEventListener("change", aaaa);
    function aaaa(e) {
    if (flag!=0){
      document.getElementById('image').src='';
      document.getElementById('video').src = '';
      document.getElementById('video').controls = '';

    }
    var src = URL.createObjectURL(this.files[0]);
    if (this.files[0].type.includes('image')){
      flag=1;
      document.getElementById('image').src = src;}
    else if (this.files[0].type.includes('video')){
      flag=1;
      document.getElementById('video').src = src;
      document.getElementById('video').controls = 'controls';
      }

    document.getElementById('submit_add_file').style.transform = 'translate(320%,0%)';
    document.getElementsByClassName("imgprev")[0].style.setProperty('width', '17vw');

    document.getElementsByClassName("titleaddf")[0].style.transform = 'translate(8.5vw,0%)';





};
  </script>
  </body>
</html>
