<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Форма входа</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body>
    <div class="name">

      <a href="{{url_for('general')}}"><div class="logo">

      </div></a>
    </div>
    <div class="main">

      <div class="form_login">
        <div class="hi">
          <h1>С возврашением!</h1>
        </div>

        <form method="post" class="inputs_login">
          <input type="text" name="login" placeholder="Логин" class="hunt" />
          <input type="text" name="password" placeholder="Пароль" class="hunt" />
          <input type="submit" value="Войти" />
          <h4 class="voiti_login">Еще нет аккаунта?  <a class='button_a' href="{{url_for('reg')}}">Зарегистрироваться</a></h4>
        </form>
      </div>
    </div>
  </body>
</html>

