<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>create_albums</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
   <div class="main">
       <div class="form_album">
           <div class="left">
                <div class="info">
                   <input type="text" class="name_album" placeholder="Название альбома" pattern="GGGg">
                   <input type="text" class="soavtor" placeholder="Соавторы">
                   <input type="text" class="teg" placeholder="Хештег">
                   <input type="text" class="description" placeholder="Описание">
                </div>
            <div class="popka">
               <input type="hidden" name="category" value="0">
                <input class="access" id="astra" type="button" name="but1" value="Закрытый альбом" onclick='changeColor()'>

               <input class="access" id="cat" type="button" name="but" value="Открытый альбом" onclick='changeColor()'>

            </div>
               <div class="savealbom">
                         <input class="save" id="astra" type="button" name="but1" value="Сохранить альбом" onclick='changeColor()'>
               </div>
           </div>
           <div class="right">
                     <div class="skrol_in_form">

                        {% for post in posts %}
                            <div class="albums">
                                <input type="checkbox" id="dessert-1"/>
                                <label for="dessert-1"></label>
                                 <img src="{{ post.url }}" class="img"/>
                                <div class="galka">

                                </div>

                            </div>
                        {% else %}
                            <p class="no_work">
                                Пока нет работ выбранного года
                            </p>

                        {% endfor %}
                    </div>

           </div>

       </div>

   </div>
  <script src="../static/js/script1.js">

    </script>
  </body>
</html>