<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>1.2</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body>
    <div class="top">
      <div class="logo">

      </div>
      <div class="search_area">
        <input class="search" type="text" name="" value="">
        <button class="search_button" type="button" name="button"><h5>Поиск</h5></button>
      </div>
      {% if current_user.is_authenticated %}
      <div class="buttons">

          <a class='button_a' href="/profile"><div class="button_login"><h4>Профиль</h4></div></a>

      </div>
      {% else %}
      <div class="buttons">

          <a class='button_a' href="/log"><div class="button_login"><h4>Вход</h4></div></a>

      </div>
      {% endif %}
    </div>
    <div class="under_index">

      <div class="skrol_index">
        {% for post in posts %}
    <div class="albums">

      {% if post.ext.lower() in [".png", ".jpg", ".jpeg"]  %}
      <img src="{{ post.url }}" title="{{ post.tegs }}"  name="{{ post.autor_login }}" class="img" onclick="location.href=`{{url_for('view_photo_a',id=post.id)}}`"/>
      {% elif post.ext.lower() in [".mp4", ".mov", ".avi"] %}
      <video src="{{ post.url }}" title="{{ post.tegs }}"  class="img"  onclick="location.href=`{{url_for('view_photo_a',id=post.id)}}`">{{ post.autor_login }}</video>
      {% endif %}
    </div>
    {% else %}
    <p class="no_work">
      Пока нет работ выбранного года
    </p>

    {% endfor %}
      </div>
    </div>

  </body>
</html>
