<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>1.2</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body>
    <div class="top">
      <div class="logo">

      </div>

      {% if current_user.is_authenticated %}
      <div class="buttons">

          <a class='button_a' href="/profile"><div class="button_login"><h4>Профиль</h4></div></a>

      </div>
      {% else %}
      <div class="buttons">

          <a class='button_a' href="/log"><div class="button_login"><h4>Вход</h4></div></a>

      </div>
      {% endif %}
    </div>
    <div class="under_index">

      <div class="skrol_index">
        {% for post in posts %}
    <div class="albums">
      {% if post.ext in [".png", ".jpg", ".jpeg"]  %}
      <img src="{{ post.url }}" title="{{ post.tegs }}"  name="{{ post.autor_login }}" class="img"/>
      {% elif post.ext in [".mp4", ".mov", ".avi"] %}
      <video src="{{ post.url }}" title="{{ post.tegs }}" name="{{ post.autor_login }}" class="img" controls></video>
      {% endif %}
    </div>
    {% else %}
    <p class="no_work">
      Пока нет работ выбранного года
    </p>

    {% endfor %}
      </div>
    </div>
  <div class="pop_up">
      <div class="pop_up_photo">
          <div class="vis_pjoto">
             <div class="otstyp_pop_up">
               <div class="viiiis_photo">

                 <img src="" id="pop_up_img" alt="картинка">
                 <div class="pop_up_close" ></div>
               </div>
               <div class="direct_photo">
                 <p id="f">sr</p>
                 <textarea id="teg_area" class="vivod_teg" disabled> </textarea>
                 <div class="but_in_alb">
                   <a class='butt' href="/"><div class="button_login"><h4>редактировать</h4></div></a>
                   <a class='butt' href="/"><div class="button_login"><h4>удалить</h4></div></a>
                   <a class='butt' href="/"><div class="button_login"><h4>скачать</h4></div></a>
              </div>

               </div>


             </div>
          </div>
      </div>
  </div>
  <script src="../static/js/pop_up.js"></script>
  </body>
</html>
