<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>1.2</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body>
    <div class="top">
      <div class="logo">

      </div>
      <div class="search_area">

      </div>
      {% if current_user.is_authenticated %}
      <div class="buttons">

          <a class='button_a' href="/profile"><div class="button_login"><h4>Профиль</h4></div></a>

      </div>
      {% else %}
      <div class="buttons">

          <a class='button_a' href="/log"><div class="button_login"><h4>Вход</h4></div></a>

      </div>
      {% endif %}
    </div>
    <div class="under_index">

      <div class="skrol_index">
        {% for post in posts %}
    <div class="albums">

      {% if post.ext.lower() in [".png", ".jpg", ".jpeg", ".webp"]  %}
      <img src="{{ '../'+post.url }}" title="{{ post.tegs }}"  name="{{ post.autor_login }}" class="img" onclick="location.href=`{{url_for('view_photo_a',id=post.id)}}`"/>
      {% elif post.ext.lower() in [".mp4", ".mov", ".avi"] %}
      <video src="{{ '../'+post.url }}" title="{{ post.tegs }}"  class="img"  onclick="location.href=`{{url_for('view_photo_a',id=post.id)}}`">{{ post.autor_login }}</video>
      {% endif %}
    </div>
    {% else %}
    <p class="no_work">
      Пока нет работ выбранного года
    </p>

    {% endfor %}
      </div>
    </div>
  <div class="pop_up active">
      <div class="pop_up_photo">
          <div class="vis_pjoto">
            <div class="otstyp_pop_up">
                <div class="viiiis_photo">



               {% if curr_photo.ext.lower() in [".png", ".jpg", ".jpeg", ".webp"]  %}
                <img src="{{'../'+curr_photo.url}}" id="pop_up_img" alt="картинка">
                   {% elif curr_photo.ext.lower() in [".mp4", ".mov", ".avi"] %}
                   <video src="{{'../'+curr_photo.url}}" id="pop_up_img" muted alt="картинка" controls autoplay></video>
                   {% endif %}

               </div>
                 <div class="pop_up_close" onclick="location.href=`{{url_for('general')}}`"></div>
               <div class="direct_photo">

                 <p id="f">Автор: {{curr_photo.autor_login}}</p>
                   <p>Теги</p>
                 <textarea id="teg_area" class="vivod_teg" disabled>{{curr_photo.tegs}} </textarea>
                 {% if current_user.is_authenticated and current_user.id == curr_photo.author_id %}
                   <div class="but_in_alb">
                     <input type="hidden" class="flaf_for_remove" value="">
                   {% if curr_photo.ext.lower() in [".png", ".jpg", ".jpeg"]  %}
                     <a class='butt' onclick="location.href=`{{url_for('red01', id=curr_photo.id)}}`" id="edit_photo"><div class="button_login"><h4>редактировать</h4></div></a>
                  {% endif %}
                   <a class='butt' onclick="location.href=`{{url_for('remove_photo', id=curr_photo.id)}}`" id="remode_photo"><div class="button_login"><h4>удалить</h4></div></a>

                     {% set  filename = curr_photo.url[curr_photo.url.rfind('/'):] %}
                     <a class='butt' onclick="location.href=`{{url_for('download', url=filename)}}`" id=" download_photo"><div class="button_login"><h4>скачать</h4></div></a>
              </div>
                 {% endif %}

               </div>


             </div>
          </div>
      </div>
  </div>
  <script src="../static/js/pop_up.js"></script>
  </body>
</html>
