<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">    <title>albums</title>
    <script src="script.js"></script>
  </head>
  <body>
    <div class="top">
      <a href="index1.2.html"><div class="logo">

      </div></a>



      <div class="buttons">
            <h1 class="prof">Профиль</h1>
          <a class='button_a' href="/"><div class="button_login"><h4>На главную</h4></div></a>
          <a class='button_a' href="/out_akk"><div class="button_login"><h4>Выход</h4></div></a>

      </div>
    </div>

    <div class="under">

      {% include 'menu.html' %}

      <div class="skrol">

     {% for post in posts %}
    <div class="albums">

      {% if post.ext.lower() in [".png", ".jpg", ".jpeg"]  %}

      <img src="{{ post.url }}" title="{{ post.tegs }}"  name="{{ post.autor_login }}" class="img" onclick="location.href=`{{url_for('view_photo',id=post.id)}}`"/>
      {% elif post.ext.lower() in [".mp4", ".mov", ".avi"] %}
      <video src="{{ post.url }}" title="{{ post.tegs }}"  class="img" onclick="location.href=`{{url_for('view_photo',id=post.id)}}`">{{ post.autor_login }}</video>
      {% endif %}
    </div>
    {% else %}
    <p class="no_work">
      Пока нет работ выбранного года
    </p>

    {% endfor %}
  </div>

      </div>
    </div>
    <div class="button_add_file"><a class="button_a" href="/af"> <div class="a_add">+</div> </a></div>



  </body>
</html>
